


  <div class="row">
    <div class="col form-center">
        <form>
            <div class="form-group">
              <label for="exampleFormControlInput1">Name</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter the name">
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Description</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Enter the description"></textarea>
            </div>
          </form>
    </div>
  </div>
  